<!DOCTYPE html>
<meta charset="utf-8">
<title>Plotting a Trendline with D3.js</title>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/d3.min.js"></script>


<style>
	.line {
		stroke: orange;
		fill:none;
		stroke-width: 6;
	}
	
	.axis path,
	.axis line {
		fill: none;
		stroke: blue;
		stroke-width: 1;
		shape-rendering: crispEdges;
	}
	
	.axis text {
		font-size: 10px;
		font-family: sans-serif;
	}
	
	.text-label {
		font-size: 10px;
		font-family: sans-serif;
	}
	
</style>

<body>


<script src="../js/trend.js"></script>
</body>
